<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>postgresql with flask</title>-->
<!--</head>-->
<!--<body>-->
<!--Hello world-->
<!--</body>-->



<!--Code -->
<!--<table border="5">-->
<!--    <tr>-->
<!--        <th>-->
<!--            Task Name-->
<!--        </th>-->

<!--        <th>-->
<!--            Is Done-->
<!--        </th>-->
<!--    </tr>-->

<!--&lt;!&ndash;    task - 01 &ndash;&gt;-->
<!--    <tr>-->
<!--        <td>-->
<!--            Walk Dog-->
<!--        </td>-->

<!--        <td>-->
<!--            True-->
<!--        </td>-->
<!--    </tr>-->


<!--&lt;!&ndash;    task - 02 &ndash;&gt;-->
<!--    <tr>-->
<!--        <td>-->
<!--            Wash Dishesh-->
<!--        </td>-->

<!--        <td>-->
<!--            False-->
<!--        </td>-->
<!--    </tr>-->


<!--&lt;!&ndash;    task - 03 &ndash;&gt;-->
<!--    <tr>-->
<!--        <td>-->
<!--            Sleep-->
<!--        </td>-->

<!--        <td>-->
<!--            True-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>postgresql with flask</title>
    </head>

    <body>

        <table border="5">
            <tr>
                <th>
                    Task Name
                </th>

                <th>
                    Is Done
                </th>
            </tr>

            {% for task in TaskList: %}
                    <tr>
                        <td>
                            <!--task with 0th index column-->
                            {{ task[0] }}
                        </td>

                        <td>
                            <!--task with 1st index column-->
                           {{ task[1] }}
                        </td>

                    </tr>
            {% end for %}
        </table>

    </body>

</html>