<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>postgresql with flask</title>-->
<!--</head>-->
<!--<body>-->
<!--Hello world-->
<!--</body>-->



<!--Code -->
<!--<table border="5">-->
<!--    <tr>-->
<!--        <th>-->
<!--            Task Name-->
<!--        </th>-->

<!--        <th>-->
<!--            Is Done-->
<!--        </th>-->
<!--    </tr>-->

<!--&lt;!&ndash;    task - 01 &ndash;&gt;-->
<!--    <tr>-->
<!--        <td>-->
<!--            Walk Dog-->
<!--        </td>-->

<!--        <td>-->
<!--            True-->
<!--        </td>-->
<!--    </tr>-->


<!--&lt;!&ndash;    task - 02 &ndash;&gt;-->
<!--    <tr>-->
<!--        <td>-->
<!--            Wash Dishesh-->
<!--        </td>-->

<!--        <td>-->
<!--            False-->
<!--        </td>-->
<!--    </tr>-->


<!--&lt;!&ndash;    task - 03 &ndash;&gt;-->
<!--    <tr>-->
<!--        <td>-->
<!--            Sleep-->
<!--        </td>-->

<!--        <td>-->
<!--            True-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>postgresql with flask</title>
        Task List
    </head>

    <body>
        <form method="post" action="{{ url_for('add') }}"> <!--url_for('add') is the name of the function in app.py  -->
            <input type="text" name="taskName" placeholder="Enter Task">
            <input type="text" name="dueDate" placeholder="Enter Due Date">
            <input type="submit" name="Add Task">
        </form>
        <hr>

        <h1>Task List</h1>
        <table border="5">
            <tr>
                <!--<th>-->
                    <!--Id-->
                <!--</th>-->

                <th>
                    Task Name
                </th>

                <th>
                    Is Done
                </th>

                <th>
                    Perform Action
                </th>
            </tr>

            {% for task in TaskList: %}
                    <tr>
                        <form method="post" action="/update">

                            <!--<td>-->
                                <!--{{ task[0] }}-->
                            <!--</td>-->

                            <td>
                                <input type="hidden" name="id" value="{{ task[0] }}" />
                                <input type="text" name="updateTask" value="{{ task[1] }}" />

                                <!--task with 0th index column-->
                                <!--{{ task[1] }}-->
                            </td>

                            <td>
                                <!--task with 1st index column-->
                                {{ task[2] }}
                            </td>

                            <td>
                                <input type="submit" name="saveOrDelete" value="save">
                                <input type="submit" name="saveOrDelete" value="Delete">
                            </td>

                        </form>

                    </tr>
            {% endfor %}
        </table>

    </body>

</html>